html,body{
    .box{
        width: 200px;
        height: 200px;
        background: url('../imgs/error1.jpg');
        background-size: cover;
    }
}

li {
    font-size: 16px;
    line-height: 50px;
}