@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?jkbueg');
  src:  url('../fonts/icomoon.eot?jkbueg#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?jkbueg') format('truetype'),
  url('../fonts/icomoon.woff?jkbueg') format('woff'),
  url('../fonts/icomoon.svg?jkbueg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.w {
	width: 1200px;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.clearfix:after {
	visibility:hidden;
	clear:both;
	display:block;
	content:" ";
	height:0
}
.clearfix{
	*zoom:1;
}
li {
	list-style: none;
}
i {
	font-family: "icomoon";
	font-style: normal;
	font-weight: normal;
}
a {
	text-decoration: none;
	color: #050505;
	font-family: "微软雅黑";
}
input ,button {
	outline: none;
}
img {
	vertical-align: middle;  /*使图片和文字中线对齐*/
}
ul li {
	border: 0;
}
