body {
	background-color: #F3F5F7;
}
header {
	height: 100px;
	width: 1300px;
	margin: 0 auto;
	padding-top: 30px;
}
.logo {
	width: 195px;
	height: 42px;
	float: left;
}
.logo a {
	display: block;
	width: 195px;
	height: 42px;
	background: url(../images/logo.png) no-repeat;
	text-indent: -999px;  /*隐藏链接里的文字*/
	overflow: hidden;		/*加上这句话是极好的*/
}
nav {
	width: 248px;
	height: 42px;
	line-height: 42px;
	float: left;
	margin-left: 80px;
}
nav li {
	float: left;
}
nav li:nth-child(2) {
	margin: 0 15px;
}
nav a {
	display: block;
	color: #050505;
	font-size: 18px;
	font-family: "微软雅黑";
	padding: 0 10px;
}
nav a:hover {
	border-bottom: 2px solid #00A3FF;
}
.search {
	width: 410px;
	height: 40px;
	background-color: skyblue;
	float: left;
	margin-left: 50px;
}
.search input {
	width: 361px;
	height: 40px;
	border: 1px solid #00a4ff;
	padding-left: 8px;
	float: left;
}
.search button {
	height: 40px;
	width: 49px;
	float: left;
	border: 0;
	background-color: #00a4ff;
}
.search i {
	font-size: 22px;
	color: #fff;
	text-align: center;
}
.personal {
	height: 40px;
	line-height: 40px;
	float: right;
}
.personal dt {
	float: left;
	margin-right:30px;
	font-size: 12px;
	color: #666;
}
.personal dd {
	float: left;
	margin-right: 15px;
	font-size: 12px;
	color: #666;
}
.personal dd s,span {
	padding: 0 10px;
}
.banner {
	height: 420px;
	background-color: #1c036c;
}
.inner {
	height: 420px;
	margin: 0 auto;
	position: relative;
}
.subnav {
	width: 190px;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .3);
}
.subnav ul {
	padding-top: 20px;
}
.subnav li {
	height: 40px;
	line-height: 40px;
	padding-left: 20px;
	position: relative;
}
.subnav span {
	position: absolute;
	right: 20px;
	top: -2px;
}
.subnav a {
	display: inline-block;
	font-style: 14px;
	color: #fff;	
}
.subnav a:hover {
	color: #00b4ff;
}
.circle {
	width: 176px;
	height: 20px;
	position: absolute;
	right: 50%;
	margin-right: -88px;
	bottom: 20px;
}
.circle i {
	display: inline-block;
	width: 13px;
	height: 13px;
	background-color: rgba(255, 255, 255, .4);
	border-radius: 6px;
	margin: 0 5px;
	cursor: pointer;
	transition: all 0.4s;
}
.circle i:hover {
	width: 20px;
	background-color: #fff;
}