@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?jkbueg');
  src:  url('../fonts/icomoon.eot?jkbueg#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?jkbueg') format('truetype'),
  url('../fonts/icomoon.woff?jkbueg') format('woff'),
  url('../fonts/icomoon.svg?jkbueg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
* {
	margin: 0;
	padding: 0;
}
.w {
	width: 1190px; /*京东版心1190*/
	margin: auto;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.style-red {
	color: #f10215!important;
}
.clearfix:after {
	visibility:hidden;
	clear:both;
	display:block;
	content:" ";
	height:0
}
.clearfix{
	*zoom:1;
}
ul {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
}
i {
	font-family: "icomoon";
	font-style: normal;
	font-weight: normal;
}
body {
	background-color: #f6f6f6;
}
a {
	text-decoration: none;
	font-size: 12px;
}
/*页面顶部样式 start*/
.J_event {
	/*height: 80px;*/   /*可省略，因为子盒子高80会撑开父盒子*/
	background-color: #000;
}
.J_event a {
	height: 80px;
	display: block;
	background-image: url(../images/header.jpg);
	position: relative;
}
.J_event a i {
/*	font-family: "icomoon";  /*声明字体*/
	height: 20px;
	width: 20px;
	position: absolute;
	top: 0;
	right: 8px;
    color: #fff;
    background-color: rgba(0, 0, 0, .8);
    text-align: center;
    line-height: 20px;
}
/*页面顶部样式 end*/
/*快捷导航栏 start*/
.shortcut {
	height: 30px;
	line-height: 30px;  /*行高会继承，li行高也为30，达到居中效果*/
	background-color: #e3e4e5;
	border-bottom: 1px solid #ddd;
}
.shortcut li {
	color: #9d9d9d;
	font-size: 12px;
}
.shortcut a {
	text-decoration: none;
	color: #9d9d9d;
	font-size: 12px;
}
.shortcut a:hover {
	color: #e33333;
}
.shortcut .fr li {
	float: left;
}
.shortcut .fl i {
	font-family: "icomoon";
	font-style: normal;
	font-size: 14px;
	color: #f10215;
}
.shortcut .fl li {
	margin-left: 200px;
}
.shortcut .spacer {
	margin:auto 10px;
	color: #ccc;
}
.shortcut .dropdown {
	margin-right: 15px;
	position: relative;
}
.shortcut .dropdown i {
	color: #ccc;
	margin-left: 6px;
	font-size: 16px;  /*14号的字，16号的图标，默认基线对齐，字体会向下2像素*/
	/*vertical-align: middle;*/
	position: absolute;
	top: -1px;
}
.shortcut .QR-code {
	width: 60px;
	height: 60px;
	position: absolute;
	top: 30px;
	right: -8px;
	padding: 3px;
	border: 1px solid #ccc;
}
/*.header {   .inner 会自动撑开盒子
	height: 140px;
}*/
.header .inner {
	height: 140px;
	position: relative;
}
.header .logo {
	height: 170px;
	width: 190px;
	position: absolute;
	top: -30px;
	box-shadow: 0 -12px 10px rgba(0, 0, 0, .2)
}
.logo a {
	text-indent: -9999em;
	overflow: hidden;
}
.header h1 {
	margin: 0;
}
.header .logo a {
	display: block;
	height: 170px;
	width: 190px;
	background: #fff url(../images/logo.jpg) no-repeat;
}
.search {
	width: 550px;
	height: 35px;
	position: absolute;
	top: 25px;
	left: 320px;
}
.search input {
	width: 493px;  /*减去3px左侧padding值，否则会导致button按钮掉下去*/
	height: 33px;
	outline: none;
	padding: 0 0 0 5px;  /*493+2(边框)+5(padding)+50(button)=500px*/
	border: 1px solid #f10215;
	float: left;
	color: #989898;
}
.search button {
	width: 50px;
	height: 35px;
	background-color: #f10215;
	float: left;
	cursor: pointer;
	padding: 0;
	border: 0;   /*有2px的边框？？？*/
}
.search button i {
	width: 16px;
	height: 16px;
	color: #fff;
	line-height: 16px;
	font-size: 20px;
	font-weight: 700;  /*加粗*/
}
.search em {
	width: 20px;
	height: 15px;
	position: absolute;
	top: 10px;
	right: 65px;
	cursor: pointer;
	background: url(../images/sprite-search.png) no-repeat;
}
.search em:hover {
	background-position: -30px 0;
}
.shopcar {
	width: 188px;
	height: 33px;
	border: 1px solid #ccc;
	line-height: 33px;
	text-align: center;
	position: absolute;
	top: 25px;
	right: 95px;
	background-color: #fff;
	color: #f10215;
}
.shopcar i {
	width: 16px;
	height: 16px;
	margin-right: 5px;
}
.shopcar a {
	font-size: 12px;
}
.shopcar span {
	display: inline-block;
	width: 15px;
	height: 15px;
	line-height: 15px;
	text-align: center;
	border-radius: 50%;
	background-color: #f10215;
	color: #fff;
	font-size: 12px;
	position: absolute;
	top: 5px;
	left: 140px;
	padding: 1px;
}	
.hotwords {
	width: 550px;
	position: absolute;
	left: 320px;
	top: 68px;
}
.hotwords a {
	font-size: 12px;
	color: #999;
	margin-right: 5px;
	white-space: nowrap;
}
.hotwords a:hover {
	color: #f10215;
}
.navitems {
	width: 770px;
	height: 40px;
	position: absolute;
	left: 200px;
	bottom: 0;
	line-height: 40px;
}
.navitems li {
	float: left;
	margin-left: 30px;
}
.navitems .spacer {
	width: 1px;
	height: 10px;
	background-color: #ccc;
	margin: 15px -15px 0 15px;
}
.navitems li a {
	font-size: 16px;
	font-weight: 700;
	color: #555;
}
.navitems li a:hover {
	color: #f10215;
}
.super {
	width: 190px;
	height: 40px;
	position: absolute;
	bottom: 10px;
	right: 0;
}
footer {
	background-color: #eaeaea;
	height: 560px;
	margin-top: 35px;
}
.footer-service {
	border-bottom: 1px solid #DEDEDE;
}
.service-inner {
	padding: 30px 0;
	/*overflow: hidden;*/	
}
.service-inner li {
	width: 297px;
	height: 42px;
	line-height: 42px;
	text-align: center;
	float: left;
	position: relative;
}
/*.service-inner li h5 {
	margin: 0;
}*/
.service-inner li h5 {
	width: 36px;
	height: 43px;
	position: absolute;
	top: 0;
	left: 38px;
	background: url(../images/ico.png) no-repeat;
	text-indent: -999em;  /*h5里面内容不能删*/
	overflow: hidden;
}
.service-inner li p {
	font-weight: 700;
	margin-left: 30px;
	line-height: 42px;
	font-size: 18px;
}
.service-inner .kuai {
	background-position: 0 -43px;  /*负值！！！！！*/
}
.service-inner .hao {
	background-position: 0 -86px;
}
.service-inner .sheng {
	background-position: 0 -129px;
}
.help {
	height: 200px;
	border-bottom: 1px solid #DEDEDE;
	padding-top: 25px;
}
.help dl {
	width: 192px;
	float: left;
}
.help dt {
	height: 30px;
    font-size: 14px;
    color: #666;
}
.help dd {
	height: 22px;
	font-size: 12px;
}
.help dd a {
	color: #666;
}
.help dd a:hover {
	color: #c81623;
}
.coverage {
	width: 200px;
	height: 150px;
}
.coverage h5 {
	font-size: 14px;
	height: 30px;
	color: #666;
}
.coverage p {
	font-size: 12px;
	line-height: 18px;
	color: #666;
	width: 180;
}
.coverage a {
	display: block;
	margin-top: 5px;
	text-align: right;
	color: #666;
}
.copyright {
	text-align: center;
	font-size: 12px;
	color: #666;
	margin-top: 20px;
}
.copyright span {
	margin: 0 10px;
}

.copyright div {
	padding-top: 20px;
}
.copyright div p {
	line-height: 22px;
}
.copyright p a {
	color: #666;
}
.foot-icon a {
	width: 103px;
	height: 33px;
	display: inline-block;
	background: url(../images/ico_footer.png) no-repeat 0 -150px;
	margin: 20px 4px 0;
}
.foot-icon .two {
	background-position: -105px -150px;
}
.foot-icon .three {
	background-position: 0px -185px;
}
.foot-icon .four {
	background-position: -105px -184px;
}
.foot-icon .five {
	background-position: 0px -219px;
}
.foot-icon .six {
	background-position: -105px -219px;
}