/* 导航 */
body {
    background-color: #fff;
}

.lt_container .lt_nav {
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.lt_container .lt_nav a {
    width: 33.333%;
    float: left;
}

.lt_container .lt_nav a img {
    width: 100%;
}

/* 商品 */