<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Template • TodoMVC</title>
	<link rel="stylesheet" href="node_modules/todomvc-common/base.css">
	<link rel="stylesheet" href="node_modules/todomvc-app-css/index.css">
	<!-- CSS overrides - remove if you don't need it -->
	<link rel="stylesheet" href="css/app.css">
</head>

<body>
	<section class="todoapp" id="app">
		<header class="header">
			<h1>todo</h1>
			<input class="new-todo" placeholder="What needs to be done?" autofocus v-on:keydown.enter="handleTodosAdd">
		</header>
		<template v-if="todos.length">
			<!-- This section should be hidden by default and shown when there are todos -->
			<section class="main">
				<input id="toggle-all" class="toggle-all" type="checkbox" @click="handleToggleAll">
				<label for="toggle-all">Mark all as complete</label>
				<ul class="todo-list">
					<!-- These are here just to show the structure of the list items -->
					<!-- List items should get the class `editing` when editing and `completed` when marked as completed -->
					<li 
					v-for="(item,index) in todos"
					v-bind:class="{ completed:item.complete,editing:currentEditing===item }" 
					@dblclick="handleDblclickEditing(item)">
						<div class="view">
							<input class="toggle" type="checkbox" v-model="item.complete">
							<label>{{ item.title }}</label>
							<button class="destroy" v-on:click="handleTodosRemove(index)"></button>
						</div>
						<input class="edit" 
						@keydown.enter="handleEditingSave(index,$event)"
						@keydown.esc="handleCancleEditing"
						@blur="handleEditingSave(index,$event)"
						v-bind:value = "item.title">
					</li>
					<!--<li>
						<div class="view">
							<input class="toggle" type="checkbox">
							<label>Buy a unicorn</label>
							<button class="destroy"></button>
						</div>
						<input class="edit" value="Rule the web">
					</li>-->
				</ul>
			</section>
			<!-- This footer should hidden by default and shown when there are todos -->
			<footer class="footer">
				<!-- This should be `0 items left` by default -->
				<span class="todo-count"><strong>0</strong> item left</span>
				<!-- Remove this if you don't implement routing -->
				<ul class="filters">
					<li>
						<a class="selected" href="#/">All</a>
					</li>
					<li>
						<a href="#/active">Active</a>
					</li>
					<li>
						<a href="#/completed">Completed</a>
					</li>
				</ul>
				<!-- Hidden if no completed items are left ↓ -->
				<button class="clear-completed"
				 @click="handleClearCompleted"
				 v-if="todos.some(item=>item.complete)">Clear completed</button>
			</footer>
		</template>
	</section>
	<footer class="info">
		<p>Double-click to edit a todo</p>
		<!-- Remove the below line ↓ -->
		<p>Template by <a href="http://sindresorhus.com">Sindre Sorhus</a></p>
		<!-- Change this out with your name and url ↓ -->
		<p>Created by <a href="http://todomvc.com">you</a></p>
		<p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
	</footer>
	<!-- Scripts here. Don't remove ↓ -->
	<!--<script src="node_modules/todomvc-common/base.js"></script>-->
	<script src="node_modules/vue/dist/vue.js"></script>
	<script src="js/app.js"></script>
</body>

</html>