* {
	margin :0;
	padding: 0;
}
.head {
	width: 1200px;
	height: 100px;
	margin: 0 auto;
/*	background-color: #ffc;*/
}
.head-left {
	float: left;
	margin:  0 20px;
	/*display: inline-block;浮动让元素默认转换为行内块元素*/
}
.head-right {
	float: right;
	/*display: inline-block;浮动让元素默认转换为行内块元素*/
}
.head .head-right li {
	list-style: none;
	display: inline-block;
	line-height: 100px;
	margin-right: 20px;
	float: right;
}
.head-right li a {
	text-decoration: none;
	color: #333;
}
.head-right a:hover {
	color: #2288f6;
	text-decoration: underline;
}
.bgp {
	height: 620px;
	background: url(../imgs/banner.jpg) no-repeat top center;
}
.service {
	width: 1200px;
	height: 660px;
	border-top: 1px solid #ccc;
	margin: 75px auto 0;	
}
.service .service-hd {
	width: 167px;
	height: 46px;
	margin: -15px auto 0;
}
.service>p {
	width: 830px;
	font-size: 12px;
	color: #666;
	text-align: center;
	line-height: 26px;
	margin: 15px auto 0;
} 
.service ul {/*  ？？？？为什么margin: 40px auto;不能垂直居中*/
	margin: 40px 80px;
	overflow: hidden;
}

.service ul li {
	width: 320px;
	height: 510px;
	list-style: none;
	background-color: #fff;
	float: left;
	border: 1px solid #e7e8e9;
	margin-right: 22px;
}
.service li img {
	margin: 40px 35px;
    width: 248px;
    height: 132px;
}
.service li h3 {
	font-weight: normal;
	text-align: center;
}
.service li p {
	font-size: 12px;
	width: 235px;
	color: #666;
	line-height: 26px;
	margin: 10px auto;
}
.service li a {
	width: 148px;
	height: 38px;
	display: block;
	border: 1px solid #ff9412;
	text-align: center;
	line-height: 38px;
	color: #ff9412;
	border-radius: 10px;
	margin: 20px auto;
	text-decoration: none;
}
.service li a:hover {
	background-color: #ff9412;
	color: #fff;
}
.case {  /*经典案例开始*/
	width: 1055px;
	border-top: 1px solid #ccc;
	margin: 105px auto 0;
}
.case .case-hd { /*经典案例头部*/
	width: 167px;
	height: 46px;
	margin: -15px auto 80px; /*上 左右 下*/
}
.case ul {  /*？？？？为什么margin: 40px auto;不能垂直居中*/
	/*overflow: hidden; 不能用 因为最后翻页箭头会隐藏掉*/
	position: relative;	
}
.clearfix:after {  /*清除浮动 子级元素.left  .right 浮动*/
	content: " ";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.celarfix {
	*zoom: 1;
}
.case ul li {
	width: 325px;
	height: 210px;
	list-style: none;
	float: left;
	position: relative;
}
.case ul .middle {
	margin: 0 40px;
}
 .case li p {
 	height: 45px;
 	width: 100%;
	background-color: rgba(0, 0, 0, .3);
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: center;
	line-height: 45px;
	color: #fff;
	font-size: 12px;
}
.mask {
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.5) url(../imgs/fdj.png) center no-repeat;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}
.case li:hover .mask { /*！！！鼠标放到li上，显示mask*/
	display: block;
}
.case a {  /*左右翻页箭头*/
	width: 60px;
	height: 60px;
	position: absolute;
	background-color: rgb(0 ,0 , 0, .2);
	text-decoration: none;
	font-size: 30px;
	color: #fff;
	text-align: center;
	line-height: 60px;
	bottom: 50%;
	margin-bottom: -30px;
	border-radius: 50%;
}
.case .left {		
	left: -90px;
}
.case .right {	
	right: -90px;
}
.case a:hover {
	background-color: rgba(0, 0, 0, .4);
}
.copor {  /*合作媒体开始*/
	width: 1055px;
	border-top: 1px solid #ccc;
	margin: 105px auto 0;
}
.copor .copor-hd { /*经典案例头部*/
	width: 167px;
	height: 46px;
	margin: -15px auto 80px; /*上 左右 下*/
}
.copor li {
	width: 210px;
	height: 60px;
	list-style: none;
	float: left;
	border-right: 1px dashed #ccc;
	border-bottom: 1px dashed #ccc;
	text-align: center;
	padding-top: 20px;
}
.footer {
	height: 165px;
	margin-top: 100px;
	background-color: #212425;
	overflow: hidden;
	color: #f0f1f1;
}
.footer .subnav {
	text-align: center;
	margin-top: 50px;
	font-size: 14px;
	overflow: hidden;
}
.footer a{
	text-decoration: none;
	list-style: none;
	color: #f0f1f1;
	padding: 0 5px;
}
.footer p {
	text-align: center;
	color: #888;
	margin-top: 30px;
}
.footer a:hover {
	color: #2288f6;
	text-decoration: underline;
}