/* reset css */
*,
*::before,
*::after {
    /* 所有的标签、伪元素 */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    /* 点击高亮效果 */
    -webkit-tap-highlight-color: transparent;
}

body {
    font-size: 14px;
    font-family: "Microsoft YaHei", sans-serif;
    color: #333;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

input,
textarea {
    border: none;
    outline: none;
    /* 不准许改变尺寸 */
    resize: none;
    /* 元素的外观 none、 button ···*/
    -webkit-appearance: none;
}

/*======================= common css ===================== */

.f_left {
    float: left;
}

.f_right {
    float: right;
}

.clearFix::before,
.clearFix::after {
    content: "";
    display: block;
    visibility: hidden;
    height: 0;
    line-height: 0;
    clear: both;
}

.m-l10 {
    margin-left: 10px;
}

.m-r10 {
    margin-left: 10px;
}

.m-t10 {
    margin-top: 10px;
}

.m-b10 {
    margin-bottom: 10px;
}